<!-- Validation failure messages -->
<% if @park.errors.any? %>
  <% @park.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Park</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_park" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for state_id -->
      <div class="form-group">
        <label for="state_id" class="control-label">
          State
        </label>

        <input type="text" id="state_id" name="state_id" placeholder="State" class="form-control" value="<%= @park.state_id %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @park.address %>">
      </div>

      <!-- Label and input for dates_of_operation -->
      <div class="form-group">
        <label for="dates_of_operation" class="control-label">
          Dates of operation
        </label>

        <input type="text" id="dates_of_operation" name="dates_of_operation" placeholder="Dates of operation" class="form-control" value="<%= @park.dates_of_operation %>">
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @park.image %>">
      </div>

      <!-- Label and input for activities -->
      <div class="form-group">
        <label for="activities" class="control-label">
          Activities
        </label>

        <input type="text" id="activities" name="activities" placeholder="Activities" class="form-control" value="<%= @park.activities %>">
      </div>

      <button class="btn btn-success">
        Create Park
      </button>
      or
      <a href="/parks">Cancel</a>
    </form>
  </div>
</div>
