<div class="page-header">
  <h3>Park #<%= @park.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>State</dt>
      <dd>
        <% if @park.state.present? %>
          <a href="/states/<%= @park.state_id %>">
            <%= @park.state.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Address</dt>
      <dd>
        <div>
          <div id="location_map" style="height: 480px;"></div>
        </div>
      </dd>

      <dt>Dates of operation</dt>
      <dd><%= @park.dates_of_operation %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @park.image %>" class="img-responsive"></dd>

      <dt>Activities</dt>
      <dd><%= @park.activities %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/parks" class="btn btn-primary">
        Back
      </a>
      <a href="/parks/<%= @park.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_park/<%= @park.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Park has many hiking_trails -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Hiking_trails
      </li>

      <% @park.hiking_trails.each do |hiking_trail| %>
        <li class="list-group-item">
          <a href="/hiking_trails/<%= hiking_trail.id %>">
            <%= hiking_trail.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/hiking_trails/<%= hiking_trail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/hiking_trails/<%= hiking_trail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_hiking_trail/<%= hiking_trail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_hiking_trail" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for distance -->
      <div class="form-group">
        <label for="distance" class="control-label">
          Distance
        </label>

        <input type="text" id="distance" name="distance" placeholder="Distance" class="form-control" value="">
      </div>

      <!-- Label and input for difficulty -->
      <div class="form-group">
        <label for="difficulty" class="control-label">
          Difficulty
        </label>

        <input type="text" id="difficulty" name="difficulty" placeholder="Difficulty" class="form-control" value="">
      </div>

      <!-- Label and input for park_id -->
      <input type="hidden" name="park_id" value="<%= @park.id %>">

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <%= select_tag(:review_id, options_from_collection_for_select(HikingReview.all, :id, :review_content), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Hiking Trail
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Park has many camping_sites -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Camping_sites
      </li>

      <% @park.camping_sites.each do |camping_site| %>
        <li class="list-group-item">
          <a href="/camping_sites/<%= camping_site.id %>">
            <%= camping_site.park_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/camping_sites/<%= camping_site.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/camping_sites/<%= camping_site.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_camping_site/<%= camping_site.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_camping_site" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for capacity -->
      <div class="form-group">
        <label for="capacity" class="control-label">
          Capacity
        </label>

        <%= select_tag(:capacity, options_from_collection_for_select(CampingReview.all, :id, :review_content, @camping_site.capacity), :class => "form-control") %>
      </div>

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <%= select_tag(:review_id, options_from_collection_for_select(Park.all, :id, :state_id), :class => "form-control") %>
      </div>

      <!-- Label and input for park_id -->
      <div class="form-group">
        <label for="park_id" class="control-label">
          Park
        </label>

        <input type="text" id="park_id" name="park_id" placeholder="Park" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Camping Site
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>


<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @park.address_latitude %>,
        "lng": <%= @park.address_longitude %>,
        "infowindow": "<h5><%= @park.created_at %></h5><small><%= @park.address_formatted_address %></small>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>