<div class="page-header">
  <h1>
    Hiking reviews
    <a href="/hiking_reviews/new" class="btn btn-lg btn-success">New Hiking review</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Review content</th>
        <th>User</th>
        <th>Star rating</th>
        <th>Actions</th>
      </tr>

      <% @hiking_reviews.each do |hiking_review| %>
      <tr>
        <td><%= hiking_review.review_content %></td>
        <td><%= hiking_review.user.email %></td>
        <td><%= hiking_review.star_rating %></td>
        <td>
          <a href="/hiking_reviews/<%= hiking_review.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == hiking_review.user %>
            <a href="/hiking_reviews/<%= hiking_review.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_hiking_review/<%= hiking_review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @hiking_reviews, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
