<!-- Validation failure messages -->
<% if @camping_review.errors.any? %>
  <% @camping_review.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Camping Review #<%= @camping_review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_camping_review/<%= @camping_review.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for review_content -->
      <div class="form-group">
        <label for="review_content" class="control-label">
          Review content
        </label>

        <input type="text" id="review_content" name="review_content" placeholder="Review content" class="form-control" value="<%= @camping_review.review_content %>">
      </div>

      
      

      <!-- Label and input for star_rating -->
      <div class="form-group">
        <label for="star_rating" class="control-label">
          Star rating
        </label>

        <input type="text" id="star_rating" name="star_rating" placeholder="Star rating" class="form-control" value="<%= @camping_review.star_rating %>">
      </div>

      <button class="btn btn-warning">
        Update Camping Review
      </button>
      or
      <a href="/camping_reviews/<%= @camping_review.id %>">Cancel</a>
    </form>
  </div>
</div>
