<div class="page-header">
  <h3>Camping Review #<%= @camping_review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Review content</dt>
      <dd><%= @camping_review.review_content %></dd>

      <dt>User</dt>
      <dd>
        <% if @camping_review.user.present? %>
          <a href="/users/<%= @camping_review.user_id %>">
            <%= @camping_review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Star rating</dt>
      <dd><%= @camping_review.star_rating %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/camping_reviews" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @camping_review.user %>
        <a href="/camping_reviews/<%= @camping_review.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_camping_review/<%= @camping_review.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
